<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>82542760967-5i29iab60ap21ijvb6pe7bfo8fgil7hg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.82542760967-5i29iab60ap21ijvb6pe7bfo8fgil7hg</string>
	<key>API_KEY</key>
	<string>AIzaSyDq4kDeLx7ehxwG8bw-ePtS1z4QdSM-9_A</string>
	<key>GCM_SENDER_ID</key>
	<string>82542760967</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.Byunghak.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-42ae7</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-42ae7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:82542760967:ios:5aa78324fabbe75c6186a2</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-42ae7.firebaseio.com</string>
</dict>
</plist>